---
layout: 
---
<!DOCTYPE html> 

{% include headers.html %}

<body data-spy="scroll">

    {% include nav.html %}
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <img src='assets/images/LogoWhite-e1509578097854.png'>
            <p class="intro">We are your local tech experts in information technology and support</p>
            <p class="intro"> (03) 5370 1112 </p>
            <div class="btns">
                <a class="btn btn-info scrollto"  href="#services">Learn More</a>
            </div>
        </div><!--//container-->
        <a class="scrollto" href="#services"><i class="fas fa-2x fa-arrow-down arrow"></i> </a>
    </section><!--//promo-->

    <!-- ******ABOUT****** --> 
    <div class="parallax-window" style="height: 400px;"></div>
    <script>$('.parallax-window').parallax({imageSrc: '/assets/images/shop.jpg'});</script>

    <section id="services" class="about section"  >

        {%  include services.html %}

    </section>

    <div class="parallax-window" style="height: 400px;"></div>
    <script>$('.parallax-window').parallax({imageSrc: '/assets/images/shop.jpg'});</script>


    <section id="contact" class="contact section has-pattern" style="background-color: #682b8d">
        {% include testimonials.html %}
    </section><!--//Testimonials-->  

    <div class="parallax-window" style="height: 400px;"></div>
    <script>$('.parallax-window').parallax({imageSrc: '/assets/images/shop.jpg'});</script>
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        {% include contact.html %}
    </section><!--//contact-->  

    <!-- ******FOOTER****** --> 
    {% include footer.html %}

    <!-- Javascript -->    


    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>   
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 

    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>     
    <script type="text/javascript" src="assets/js/main.js"></script>       

</body>
</html> 

