

 <div class="container" style="margin-top: 20px;">
     <div class="contact-inner">
     	 <h2 class="text-center" style="color: #682b8d">Contact</h2>
     	<div class="row">
     		<div class="col-sm-5">
	        
	        <div> 
	           <p><b>Address:</b>164A Main Street, Bacchus Marsh, VIC 3340</p>

	            <p> <b>Email:</b> enquiries@mytechvic.com.au</p>

	            <p> <b>Phone:</b> (03) 5370 1112</p>        
	        </div>
	    </div>
        <div class="col-sm-3 offset-3" >
    
    <p><b>Trading Hours</b> </p>
            <ul>
            <li>Mon - Fri: 9.00 - 17.30.</li>
            <li>Sat: 9.00 - 15.00.</li>
            <li>Sun: CLOSED</li>
        	</ul>
        </div>
</div>
     </div><!--//contact-inner-->
 </div><!--//container-->

