    <div class="container" >
        <h2 class="title text-center">MyTech Services</h2>

        <div class="intro text-center">
            <p>MyTech is a local company based in Bacchus Marsh Victoria, MyTech specialize in computer repairs and upgrades, Virus removals, data recovery, on-site services and call outs, as well as being a storefront for all of your I.T needs.</p>

            <p>Below is a more in detail view on these services.  </p>
        </div>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i  class="I-colour  fas fa-2x fa-microchip"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Repairs and Upgrades</h3>
                    <p> At MyTech we can fix any issues you have with your computer, tablet or phone! We also offer PC and Laptop upgrades such as RAM. </p>
                    <p> If you want to know more click<a href='/services/repairs.html'> <button  class="btn btn-info btn-sm"> here </button> </a> </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fas fa-2x fa-exclamation-triangle"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Virus Removal</h3>
                    <p>MyTech have the software and skills to remove virius from your PC and get it back to running in the way you expect it to.</p> 
                    <p>If you'd like to know more click <a href='/services/virus.html'> <button  class="btn btn-info btn-sm"> here </button> </a>  </button> </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="clearfix visible-md"></div>    
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fas fa-2x fa-database"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Data Recovery</h3>
                    <p>If your computer is dead, no longer turns on and it isn't feasible to repair the machine, But you still have data that you want from that machine. Don't stress! Bring your machine down to MyTech and we will get your data back! </p> 
                    <p>If you'd like to know more click <a href='/services/data.html'> <button  class="btn btn-info btn-sm"> here </button> </a> </p>

                </div><!--//content-->
            </div><!--//item-->                
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fa-2x fas fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Websites & Hosting</h3>
                    <p>Do you have a website but don't know how to host it online? Or maybe you want to move host, MyTech is able to host or migrate your website to a new host for you</p>

                    <p>If you're looking to have a Website or web application built for personal or business related reasons, look no further, MyTech now has a Web Developer on board, with over 3 years of web development experience. </p> 
                    <p>If you'd like to know more click <a href='/services/website.html'> <button  class="btn btn-info btn-sm"> here </button> </a> </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fa-2x fas fa-laptop"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">On-Site Services</h3>
                    <p> A lot of the time people have issues at their house which is very environment dependent, At the MyTech store we can't always replicate the issues you might have at home. So we will come to you! No matter what the issue is, whether it's a printer problem or an internet problem, our techs will come out to your home and solve your issues. </p> 
                    <p>If you'd like to know more click  <a href='/services/on-site.html'> <button  class="btn btn-info btn-sm"> here </button> </a>  </p>
                </div><!--//content-->
            </div><!--//item--> 
             <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class=" I-colour fas fa-2x fa-cart-arrow-down"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Computer Sales</h3>
                    <p> MyTech is also a storefront, we stock many different items including cables, printers, Screens, laptops and desktops, even 3D printers!</p>
                    <p> So if you're in the market for anything I.T related come on down and see what we have, If we don't have it in stock we can order it! </p> 
                    <p>If you'd like to know more click <a href='/services/sales.html'> <button  class="btn btn-info btn-sm"> here </button> </a> </p>
                </div><!--//content-->
            </div><!--//item-->                         
        </div><!--//row--> 
    </div>