    <div class="container" >
        <h2 class="title text-center">My Tech Services</h2>
        <p class="intro text-center">Explain your project in detail. Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i  class="I-colour  fas fa-2x fa-microchip"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Repairs and Upgrades</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fas fa-2x fa-exclamation-triangle"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Virus Removal</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class=" I-colour fas fa-2x fa-cart-arrow-down"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Computer Sales</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                </div><!--//content-->
            </div><!--//item-->           
            <div class="clearfix visible-md"></div>    
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fas fa-2x fa-database"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Data Recovery</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                </div><!--//content-->
            </div><!--//item-->                
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fa-2x fas fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Websites & Hosting</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="I-colour fa-2x fas fa-laptop"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">On-Site Services</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                </div><!--//content-->
            </div><!--//item-->               
        </div><!--//row--> 
    </div>