 {% include headers.html %}

<div class='container' style="background-color: #682b8d">
    <h1 class="text-center" style="margin-top: 20px; color: white;"> Testimonials </h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color: #682b8d;  color: white">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-50" style="margin-left: 300px;">
                    <div class="testimonal_info">
                     <div class="card-body">
                        <h3 class="card-title">Irene Hogan</h3>
                        <p class="card-text">Had my laptop upgraded today. Nice and quick, welcoming staff who know what they are talking about, which is great. Working much better now. Thank you so much. Great to have this service in the Marsh.</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-block w-50" style="margin-left: 300px;">
                    <div class="testimonal_info">
                      <div class="card-body">
                        <h3 class="card-title"> Feona West </h3>
                        <p class="card-text">Excellent service. We had a laptop screen repaired last week and found the staff to be very helpful and friendly. Good advice, reliable workmanship, impressive work ethic. We are very glad we made the decision to choose MYTECH. We will do so again in future without hesitation.
                        </p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-block w-50" style="margin-left: 300px;">
                    <div class="testimonal_info">
                      <div class="card-body">
                        <h3 class="card-title"> Lita Kerr Tirkkonen </h3>
                        <p class="card-text">Genuine and friendly service. My laptop died and along with it I thought I had lost everything. But Lachlan was able to retrieve all my documents. Laptop unfortunately has gone to heaven after much resuscitation, but was able to buy another at a really great price and transfer my documents onto it. Lucky to have this service in our own town.
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
</div>



 <script> $('.carousel').carousel({
  interval: 5000
}) </script>