---
layout: 
---


{% include headers.html %}
<header id="header" class="header">  
    <div class="container">            
        <h1 class="logo pull-left">
            <a  href="/">
                <span class="logo-title">MyTech</span>
            </a>
        </h1><!--//logo-->              
        <nav id="main-nav" class="navbar navbar-expand-lg  navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->            
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a style="font-size: 20px;" href="/">Home</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div>
</header><!--//header-->
<body>
	<section id="promo" class=" offset-header">
	    <div class="offset-header  text-center">
	    	<h1> On-Site Technical Services </h1>
	    	<div class="row">
				<div style="padding: 50px; text-align: justify; " class="col-md-6">
			        <p>MyTech offers on-site technical services, whether you're having printer issues, computer issues, even internet issues. MyTech can send out a technician to solve your issues! Our Techs are TTA certified and can fix almost all of your problems!</p>

					<p>MyTech can even bring new equipment such as internet routers out to your house for your convince!</p>

					<p>Our rate is $90 if you live within the postcode 3340, otherwise, if you're outside of  3340, it is still $90 an hour but there will also be a $60 call out fee</p>

					<p>Call now to book out a tech!</p>
			    </div>
		    	<div class='col-md-6'>
			        <img  <img style="width: 500px;" src=/assets/images/car.png>
		    	</div>
			</div>
		</div>
	</section><!--//promo-->
{% include contact.html %}
</body>
    <script type="text/javascript" src="/assets/plugins/jquery-1.11.3.min.js"></script>   
    <script type="text/javascript" src="/assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="/assets/plugins/prism/prism.js"></script>     
    <script type="text/javascript" src="/assets/js/main.js"></script>       