---
layout: 
---


{% include headers.html %}
<header id="header" class="header">  
    <div class="container">            
        <h1 class="logo pull-left">
            <a  href="/">
                <span class="logo-title">MyTech</span>
            </a>
        </h1><!--//logo-->              
        <nav id="main-nav" class="navbar navbar-expand-lg  navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->            
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a style="font-size: 20px;" href="/">Home</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div>
</header><!--//header-->
<body>
	<section id="promo" class=" offset-header">
	    <div class="offset-header  text-center">
	   		 <h1> Websites & Hosting </h1>
	    	<div  class="row">
				<div style="padding: 50px; text-align: justify;" class="col-md-5 ">
			        <h2> Website Development </h2>
                    <p>MyTech now offers Website Development for personal or business needs, we now have the skills to build these sites.</p>
                    <p>MyTech creates websites from scratch doing all the code by hand, we want to make sure that our clients have fast and responsive websites with all of the right features. Things like Wordpress are limited in what they can do and once you start putting add-ons into your WordPress they can slow down a lot. </p>

                      <h4>How does it work? </h4>
                    <ol>
                        <li>A representative will sit down with you to discuss what your needs are</li>    
                        <li>We will then work out how many hours it will take to do, and give you a qoute</li>    
                        <li>If you're happy with the quote, we will go ahead and build your site</li>
                    </ol>

                    <p>MyTech will arrange to meet up with you every now and then to make sure that the website is getting created in the way you want. These meetings are important to make sure that MyTech is creating the application you want! It is also a good time to let MyTech know whether you want something removed or added. </p>
                </div>
		    	<div class='col-md-4'>
			        <img  <img style="width: 800px; padding: 50px;" src=/assets/images/screen.png>
		    	</div>
			</div>

			<div class="row">
				<div class='col-md-6'>
			        <img  <img style="width: 500px;" src=/assets/images/macbookgold_front.png>
		    	</div>
				<div  style="padding: 50px; text-align: justify; " class="col-md-6">
			        <h2> Website Hosting </h2>
			        <p>MyTech offers Web hosting, if you need a domain or want to migrate to a new domain we can handle that process for you!  </p>
                    <p>Simply let one of our staff know and we will organise that for you.  </p>

			    </div>
		    	
			</div>
		</div>
	</section><!--//promo-->
{% include contact.html %}
</body>
    <script type="text/javascript" src="/assets/plugins/jquery-1.11.3.min.js"></script>   
    <script type="text/javascript" src="/assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="/assets/plugins/prism/prism.js"></script>     
    <script type="text/javascript" src="/assets/js/main.js"></script>       








